.todo__container{
    margin-top: 100px;
    max-width: 40%;
    border: 1px solid black;
}

.todo__title{
    padding: 25px;
}

.add__todo{
    padding: 0;
    width: 87%;
    margin: 0 auto;
}

#todos{
    width: 87%;
    margin: 0 auto;
    ul{
        padding-left: 0;
    }
}

.todo__item{
    list-style: none;
    text-align: left;
}

.remove{
    margin-left: 15px;
}